.alert-container {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 250px; 
    z-index: 9999;
}

.alert {
    background: #fff; 
    padding: 22px;
    border-radius: 92px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alert-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.alert-body {
    padding-top: 10px;
}
