.liked-products-container {
  max-width: 1200px;
  margin: 20px auto; /* Set margin to auto to center the container */
  padding: 20px;
}

.liked-product {
  text-align: center; 
  margin-bottom: 20px; 
  margin-top: 100px;
}

.no-liked-product {
  text-align: center; 
  margin-bottom: 20px; 
  margin-top: 100px;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-itemm {
  width: calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-itemm:hover {
  transform: scale(1.05);
}

.product-thumbb img {
  max-width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.product-action-linkk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.product-action-linkk i {
  margin-right: 5px;
}

.product-contentt {
  padding: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .product-itemm {
    width: calc(50% - 20px);
  }
}
